@model ContaFacil.Models.Menu

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMenu" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <div class="col">
                    <label asp-for="MenuId">Menu Principal</label>
                    @Html.DropDownListFor(model => model.MenuId,
                             new SelectList(ViewData["Menus"] as IEnumerable<SelectListItem>, "Value", "Text"),
                             "Seleccione un menú principal",
                             new { @class = "form-control", required = false })
                </div>
            </div>
           
            <div class="form-group">
                <label asp-for="Controller" class="control-label"></label>
                <input asp-for="Controller" class="form-control" />
                <span asp-validation-for="Controller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action" class="control-label"></label>
                <input asp-for="Action" class="form-control" />
                <span asp-validation-for="Action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <center><button class="button" type="submit">Guardar</button></center>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
