@model ContaFacil.Models.Sucursal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sucursal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSucursal" />
            
            <div class="form-group">
                <label asp-for="NombreSucursal" class="control-label"></label>
                <input asp-for="NombreSucursal" class="form-control" />
                <span asp-validation-for="NombreSucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionSucursal" class="control-label"></label>
                <input asp-for="DireccionSucursal" class="form-control" />
                <span asp-validation-for="DireccionSucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuntoEmision" class="control-label"></label>
                <input asp-for="PuntoEmision" class="form-control" />
                <span asp-validation-for="PuntoEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Secuencial" class="control-label"></label>
                <input asp-for="Secuencial" class="form-control" />
                <span asp-validation-for="Secuencial" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label"> 
                    <input class="form-check-input" asp-for="EstadoBoolean" /> Activo/Inactivo
                </label>
            </div>           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
