@{
    ViewData["Title"] = "Principal Facturación";
}

<style>
    .form-group {
        width: 400px;
    }

    .row {
        justify-content: left;
    }
</style>
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Nueva Factura -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-file-invoice-dollar fa-3x mb-3 text-primary"></i>
                    <h5 class="card-title">Nueva Factura</h5>
                    <p class="card-text">Crea una nueva factura en el sistema.</p>
                    <a asp-action="Create" asp-controller="Factura" class="btn btn-primary mt-auto">Crear Factura</a>
                </div>
            </div>
        </div>

        <!-- Listado de Facturación -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-list-alt fa-3x mb-3 text-success"></i>
                    <h5 class="card-title">Listado de Facturación</h5>
                    <p class="card-text">Consulta el listado de todas las facturas.</p>
                    <a asp-action="Index" asp-controller="Factura" class="btn btn-success mt-auto">Ver Listado</a>
                </div>
            </div>
        </div>

        <!-- Reporte Facturación -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-chart-line fa-3x mb-3 text-info"></i>
                    <h5 class="card-title">Reporte Facturación</h5>
                    <p class="card-text">Genera reportes de facturación detallados.</p>                   
                    <form asp-action="ExportFacturaExcel" method="post">
                        <div class="form-group">
                            <label for="fechaInicioBal">Fecha Inicio:</label>
                            <input type="date" id="fechaInicioBal" name="fechaInicio" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="fechaFinBal">Fecha Fin:</label>
                            <input type="date" id="fechaFinBal" name="fechaFin" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Generar reporte facturación</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Reporte Notas de Crédito -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-receipt fa-3x mb-3 text-warning"></i>
                    <h5 class="card-title">Reporte Notas de Crédito</h5>
                    <p class="card-text">Genera reportes de notas de crédito.</p>                   
                    <form asp-action="ExportNotasCreditoExcel" method="post">
                        <div class="form-group">
                            <label for="fechaInicioBal">Fecha Inicio:</label>
                            <input type="date" id="fechaInicioBal" name="fechaInicio" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="fechaFinBal">Fecha Fin:</label>
                            <input type="date" id="fechaFinBal" name="fechaFin" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Generar reporte notas de crédito</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Reporte Retenciones -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-percent fa-3x mb-3 text-warning"></i>
                    <h5 class="card-title">Listado Retenciones</h5>
                    <p class="card-text">Registra retenciones de proveedores y clientes.</p>
                    <form asp-controller="Retencion" asp-action="Index" method="post">
                        <div class="form-group">
                            <label for="fechaInicioBal">Fecha Inicio:</label>
                            <input type="date" id="fechaInicioBal" name="fechaInicio" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="fechaFinBal">Fecha Fin:</label>
                            <input type="date" id="fechaFinBal" name="fechaFin" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Gestionar Retenciones</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
