@model ContaFacil.Models.ViewModel.ProductoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Producto</h4>
<hr />

<div class="form-container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Codigo" class="control-label">Código</label>
                    <input asp-for="Codigo" class="form-control" />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label">Descripción</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecioUnitario" class="control-label">Precio Unitario</label>
                    <input asp-for="PrecioUnitario" class="form-control" />
                    <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdCategoriaProducto" class="control-label">Categoría de Producto</label>
                    <select asp-for="IdCategoriaProducto" class ="form-control" asp-items="ViewBag.IdCategoriaProducto"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IdUnidadMedida" class="control-label">Unidad de Medida</label>
                    <select asp-for="IdUnidadMedida" class ="form-control" asp-items="ViewBag.IdUnidadMedida"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IdImpuesto" class="control-label">Impuesto</label>
                    <select asp-for="IdImpuesto" class="form-control" asp-items="ViewBag.IdImpuesto"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Stock" class="control-label"></label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <center><button class="button" type="submit">Crear</button></center>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
