@model ContaFacil.Models.ViewModel.ClienteEmisorViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idEmisor" class="control-label"></label>
                <select asp-for="idEmisor" class="form-control" asp-items="ViewBag.IdEmmisor"></select>
            </div>          
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoIdentificacion" class="control-label">Tipo de Identificación</label>
                @if (ViewBag.TipoIdentificacionError != null)
                {
                    <p class="text-danger">@ViewBag.TipoIdentificacionError</p>
                }
                else
                {
                    @Html.DropDownListFor(m => m.IdTipoIdentificacion, (SelectList)ViewData["IdTipoIdentificacion"], "Seleccione un tipo", new { @class = "form-control" })
                }
                <span asp-validation-for="IdTipoIdentificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="identificacion" class="control-label"></label>
                <input asp-for="identificacion" class="form-control" />
                <span asp-validation-for="identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
