html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.features {
    padding: 2rem 0;
    background-color: #F5F7FA;
}

.features h2 {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 2rem;
    padding: 0 2rem;
}

.feature-item {
    background-color: #FFFFFF;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .feature-item i {
        color: #1A3263;
        margin-bottom: 1rem;
    }

    .feature-item h3 {
        color: #4A4A4A;
        margin-bottom: 0.5rem;
    }

    .feature-item p {
        color: #4A4A4A;
        font-size: 0.9rem;
    }

.head h1 {
    text-align: center;
    color: #1a3263;
    margin-bottom: 2rem;
}
.navbar-nav .dropdown-toggle::after {
    display: none;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
}


.form-container {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
    border: 5px solid #1A3263;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.uppercase-input {
    text-transform: uppercase;
}

.form-group {
    padding: 10px;
}

.row {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #1A3263;
    color: #FFFFFF;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

}

.form-control {
    width: 100%;
}

.col-md-4 {
    width: 75%;
}
.active-menu {
    background-color: #1d386a !important;
    color: white !important;
}

    .active-menu:hover {
        color: #f8f9fa !important;
    }