@model ContaFacil.Models.Inventario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdInventario" />
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label">ID Producto</label>
                <select asp-for="IdProducto" class="form-control" asp-items="ViewBag.IdProducto"></select>
                <span asp-validation-for="IdProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMovimiento" class="control-label">Tipo de Movimiento</label>
                <input asp-for="TipoMovimiento" class="form-control" />
                <span asp-validation-for="TipoMovimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDespacho" class="control-label">Número de Despacho</label>
                <input asp-for="NumeroDespacho" class="form-control" />
                <span asp-validation-for="NumeroDespacho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoBoolean" class="control-label">Estado</label>
                <input asp-for="EstadoBoolean" class="form-control" />
                <span asp-validation-for="EstadoBoolean" class="text-danger"></span>
            </div>
            <div class="form-group">
                <center><button class="button" type="submit">Guardar</button></center>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
