@model IEnumerable<ContaFacil.Models.Inventario>

@{
    ViewData["Title"] = "Index";
}

<style>
    .form-group {
        width: 400px;
    }
    .row {
        justify-content: left;
    }
</style>
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-plus-circle fa-3x mb-3 text-primary"></i>
                    <h5 class="card-title">Crear</h5>
                    <p class="card-text">Registra nuevos movimientos de compra / venta / transferencia.</p>
                    <a asp-action="Create" class="btn btn-primary mt-auto">Crear</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-chart-bar fa-3x mb-3 text-success"></i>
                    <h5 class="card-title">Reporte</h5>
                    <p class="card-text">Genera informes detallados del inventario.</p>
                    <a asp-action="Reportes" class="btn btn-success mt-auto">Ver Reporte</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-file-excel fa-3x mb-3 text-info"></i>
                    <h5 class="card-title">Carga Inicial</h5>
                    <p class="card-text">Importa datos desde un archivo Excel.</p>
                    <a asp-action="CargarExcel" class="btn btn-info mt-auto">Cargar Excel</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-truck fa-3x mb-3 text-secondary "></i>
                    <h5 class="card-title">Transferencias Sucursal</h5>
                    <p class="card-text">Revisar el estado de despachos realizados a sucursales.</p>
                    <a asp-action="Index" asp-controller="Despacho" class="btn btn-secondary  mt-auto">Despachos</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery-3.6.0.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script src="~/js/inventario.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var selectedSucursal = '@ViewBag.SelectedSucursal';
            if (selectedSucursal) {
                $('#idSucursal').val(selectedSucursal);
            }
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}