@model ContaFacil.Models.Impuesto

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Impuesto</h4>
<hr />
<div class="form-container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Porcentaje" class="control-label"></label>
                    <input asp-for="Porcentaje" class="form-control" />
                    <span asp-validation-for="Porcentaje" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodigoPorcentajeSri" class="control-label"></label>
                    <input asp-for="CodigoPorcentajeSri" class="form-control" />
                    <span asp-validation-for="CodigoPorcentajeSri" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodigoSri" class="control-label">Código SRI</label>
                    <input asp-for="CodigoSri" class="form-control" />
                    <span asp-validation-for="CodigoSri" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <center><button class="button" type="submit">Crear</button></center>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
